# matlab autosave
*.asv
# instrukcje
*.doc
*.docx
*.pdf

Projekt2-membrana/*.doc
Projekt2-membrana/*.docx
Projekt2-membrana/*.pdf
Projekt2-membrana/*.asv
Projekt2-membrana/OUT_20210325T095632.mat
*.mat
